<section class="section__login">
  <div class="section__login__div">
    <img
      class="section__login__div__carro__img"
      src="/ranger.png"
      alt="Ford Ranger"
    />
  </div>

  <div class="section__login__div bg__color">
    <img class="section__login__logo" src="/ford.png" alt="Logo da Ford" />
    <form action="" id="form">
      <h2>Boas-vindas</h2>
      <input
        placeholder="Insira seu e-mail"
        class="section__login__div__form__input"
        required
        type="email"
      />
      <input
        placeholder="Insira sua senha"
        class="section__login__div__form__input"
        required
        type="password"
      />
      <label class="autoLogin"
        >Logar automaticamente
        <input type="checkbox" name="autoLogin" />
      </label>
      <button class="section__login__div__form__submit" type="submit">
        Entrar
      </button>
    </form>
  </div>
</section>
