:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.div-login-car {
  background-image: url("/ranger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 50%;
}
