<div id="teste">
  <div class="btn-group dropstart">
    <i
      class="fa-duotone fa-regular fa-circle-user botao__perfil"
      style="
        --fa-primary-color: #3e4260;
        --fa-secondary-color: #ffffff;
        --fa-secondary-opacity: 1;
      "
      data-bs-toggle="dropdown"
    ></i>
    <div class="dropdown-menu dropdown-menu-end">
      <div id="teste">
        <p>
          <i
            class="fa-duotone fa-regular fa-circle-user"
            style="
              --fa-primary-color: #3e4260;
              --fa-secondary-color: #ffffff;
              --fa-secondary-opacity: 1;
            "
          ></i>
          {{ nomeUsuario() }}
        </p>
        <span class="dropdown__linha"></span>
        <button (click)="logout()" class="dropdown__logout">Logout</button>
      </div>
    </div>
  </div>
</div>
