<i
  class="fa-solid fa-bars botao__sidebar"
  style="color: #63e6be"
  (click)="controleSideBar()"
></i>

<nav class="sidebar" [class.sidebar-fechada]="sideBarFechada()">
  <div
    class="p-1 d-flex justify-content-between align-items-center"
    *ngIf="!sideBarFechada()"
  >
    <img
      id="side__bar__logo"
      src="http://localhost:3001/img/ford.png"
      alt="Logo da Ford"
    />
    <i
      class="fa-solid far fas fas fa-window-close sidebar__fechar"
      style="color: #63e6be"
      (click)="controleSideBar()"
    ></i>
  </div>

  <div *ngIf="!sideBarFechada()" class="sidebar__div__links">
    <button
      [ngClass]="{ botao__selecionado: router.url === '/home' }"
      class="sidebar__div__links__home"
      [routerLink]="['/home']"
    >
      Home
    </button>
    <button
      [ngClass]="{ botao__selecionado: router.url === '/dashboard' }"
      class="sidebar__div__links__dashboard"
      [routerLink]="['/dashboard']"
    >
      Dashboard
    </button>
  </div>
</nav>
