<form [formGroup]="login" (ngSubmit)="submitUsuario()" id="form">
  <h2>Boas-vindas</h2>
  <div class="section__login__div__form__icon">
    <label for="section__login__div__form__input__nome">
      <i class="fa-solid fa-user" style="color: #63e6be"></i>
    </label>
    <input
      placeholder="Insira seu nome de usuário"
      class="section__login__div__form__input"
      formControlName="nome"
      name="nome"
      autocomplete="given-name"
      id="section__login__div__form__input__nome"
    />

    <i
      *ngIf="!login.value.nome && !login.controls['nome'].touched"
      class="fa-solid fa-circle-info info__nome"
      style="color: #63e6be"
      title="Seu nome cadastrado"
    ></i>
    <i
      *ngIf="!login.controls['nome'].valid && login.controls['nome'].touched"
      class="fa-regular fa-circle-xmark info__nome"
      style="color: #6f0000"
      title="Seu nome cadastrado"
    ></i>
    <i
      *ngIf="login.controls['nome'].valid"
      class="fa-solid fa-check info__nome"
      style="color: #63e6be"
    ></i>
  </div>
  <div class="section__login__div__form__icon">
    <label for="section__login__div__form__input__senha">
      <i class="fa-solid fa-lock" style="color: #63e6be"></i
    ></label>

    <input
      placeholder="Insira sua senha"
      class="section__login__div__form__input"
      type="password"
      formControlName="senha"
      name="senha"
      id="section__login__div__form__input__senha"
    />
  </div>
  <div class="autologin">
    <p>Logar automaticamente</p>
    <label class="autologin__label">
      <input
        name="autoLogin"
        class="autologin__checkbox"
        type="checkbox"
        formControlName="loginAutomatico"
      />
      <div class="autologin__switch">
        <span
          class="autologin__control"
          [class.autologin__control__selecionado]="login.value.loginAutomatico"
          ><i
            *ngIf="!login.value.loginAutomatico"
            class="fa-solid fa-xmark"
          ></i>
          <i *ngIf="login.value.loginAutomatico" class="fa-solid fa-check"></i>
        </span>
      </div>

      <i
        *ngIf="
          !login.controls['loginAutomatico'].valid &&
          login.controls['loginAutomatico'].touched
        "
        class="fa-regular fa-circle-xmark info"
        style="color: #6f0000"
        title="Manter logado no sistema"
      ></i>
    </label>
    <i
      class="fa-solid fa-circle-info info__autologin"
      style="color: #63e6be"
      title="Seu nome cadastrado"
    ></i>
  </div>

  <button
    class="section__login__div__form__submit"
    type="submit"
    [disabled]="!login.valid"
    [class.validado]="login.valid"
  >
    Entrar
  </button>

  <p *ngIf="erroLogin !== null">Erro: {{ erroLogin }}</p>
</form>
