<form [formGroup]="login" (ngSubmit)="submitUsuario()" id="form">
  <h2>Boas-vindas</h2>
  <input
    placeholder="Insira seu nome de usuário"
    class="section__login__div__form__input"
    formControlName="nome"
    name="nome"
    autocomplete="given-name"
  />
  <input
    placeholder="Insira sua senha"
    class="section__login__div__form__input"
    type="password"
    formControlName="senha"
    name="senha"
  />

  <div class="form-check form-switch form-check-reverse">
    <label class="form-check-label" for="flexSwitchCheckDefault"
      >Logar automaticamente
    </label>
    <input
      name="autoLogin"
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault"
      formControlName="loginAutomatico"
    />
  </div>

  <button
    class="section__login__div__form__submit"
    type="submit"
    [disabled]="!login.valid"
    [class.validado]="login.valid"
  >
    Entrar
  </button>

  <p *ngIf="erroLogin !== null">Erro: {{ erroLogin }}</p>
</form>
