<h2 class="text-success text-center">Boas-vindas</h2>
<form
  [formGroup]="login"
  (ngSubmit)="submitUsuario()"
  id="form"
  class="d-flex flex-column"
>
  <div class="input-group"></div>
  <div class="form-floating mb-3">
    <input
      placeholder="Insira seu nome de usuário"
      class="form-control"
      formControlName="nome"
      name="nome"
      autocomplete="given-name"
      id="section__login__div__form__input__nome"
    />
    <label for="section__login__div__form__input__nome"
      >Insira seu nome de usuário</label
    >
  </div>
  <div class="form-floating mb-3">
    <input
      placeholder="Insira sua senha"
      class="form-control"
      type="password"
      formControlName="senha"
      name="senha"
      id="section__login__div__form__input__senha"
    />
    <label for="section__login__div__form__input__senha"
      >Insira sua senha</label
    >
  </div>
  <div
    class="container-fluid d-flex justify-content-end align-items-center p-0 mb-3"
  >
    <p class="mb-0">Logar automaticamente</p>
    <label class="autologin__label ms-1">
      <input
        name="autoLogin"
        class="autologin__checkbox"
        type="checkbox"
        formControlName="loginAutomatico"
      />
      <div class="autologin__switch">
        <span
          class="autologin__control"
          [class.autologin__control__selecionado]="login.value.loginAutomatico"
          ><i
            *ngIf="!login.value.loginAutomatico"
            class="fa-solid fa-xmark"
          ></i>
          <i *ngIf="login.value.loginAutomatico" class="fa-solid fa-check"></i>
        </span>
      </div>
    </label>
  </div>

  <button
    class="btn btn-primary"
    type="submit"
    [disabled]="!login.valid"
    [class.validado]="login.valid"
  >
    Entrar
  </button>

  <p *ngIf="erroLogin !== null">Erro: {{ erroLogin }}</p>
</form>
