<section class="container-fluid px-0">
  <div class="d-flex">
    <app-side-bar></app-side-bar>
    <app-user-profile
      [nomeUsuario]="servico.UsuarioLogado()?.nome"
      [logout]="servico.logout.bind(servico)"
    ></app-user-profile>
  </div>
  <div class="container w-50 opacity-75 border px-0 rounded-1">
    <div class="container bg-secondary-subtle py-1">
      <h6>Sistema de dados FORD</h6>
    </div>
    <div class="container bg-white py-1 rounded-1">
      <p>
        Seja bem vindo(a)! <br />
        Seu acesso como
        <span class="text-success"> {{ servico.UsuarioLogado()!.email }}</span
        >, id:
        <span class="text-success">{{ servico.UsuarioLogado()!.id }}</span> foi
        registrado em:
        {{ dataDeAceso }}
      </p>
    </div>
  </div>
</section>
