<table class="table table-sm table-bordered border-black m-0">
  <tbody>
    <tr>
      <th class="text-white" scope="col">Código - Vin</th>
      <th class="text-white" scope="col">Odômetro</th>
      <th class="text-white" scope="col">Nível de Combustível</th>
      <th class="text-white" scope="col">Status</th>
      <th class="text-white" scope="col">Lat.</th>
      <th class="text-white" scope="col">Long.</th>
    </tr>

    <tr>
      <th scope="row">
        <input
          type="text"
          [formControl]="vin"
          (input)="pesquisarVin()"
          name="selectVin"
          [class.vin__search__error]="vinSearchError()"
        />
      </th>
      <td>
        {{ vinInfo()?.odometro }}
        <span *ngIf="vinInfo()" class="small">Km</span>
      </td>
      <td>
        {{ vinInfo()?.nivelCombustivel }}
        <span *ngIf="vinInfo()" class="small">%</span>
      </td>
      <td>{{ vinInfo()?.status }}</td>
      <td>{{ vinInfo()?.lat }}</td>
      <td>{{ vinInfo()?.long }}</td>
    </tr>
    <tr>
      <th scope="row" class="border-0"></th>
      <th scope="row" class="border-0"></th>
      <th scope="row" class="border-0"></th>
      <th scope="row" class="border-0"></th>
      <th scope="row" class="border-0"></th>
      <th scope="row" class="border-0"></th>
    </tr>
  </tbody>
</table>
