<section class="section__home">
  <aside>
    <app-side-bar></app-side-bar>
    <app-user-profile
      [emailUsuario]="servico.UsuarioLogado()?.email"
      [logout]="servico.logout.bind(servico)"
    ></app-user-profile>
  </aside>
  <div class="section__home__bemvindo">
    <div class="section__home__bemvindo__div__titulo">
      <h4>Sistema de dados FORD</h4>
    </div>
    <div class="section__home__bemvindo__div__mensagem">
      <p>
        Seja bem vindo(a)! <br />
        Seu acesso como <span> {{ servico.UsuarioLogado()!.nome }}</span
        >, id: <span>{{ servico.UsuarioLogado()!.id }}</span> foi registrado em:
        {{ dataDeAceso }}
      </p>
    </div>
  </div>
</section>
